@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #1d1d1f;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #root{
    width: 100%;
    height: ;
} */

img{
    max-width: 100%;
    height: auto;
}

body{
    margin: auto;
    display: flex;
    justify-content: center;
    place-items: center;
    min-width: 800px;
    min-height: 100vh;
}

main{
    padding: 1rem;
}